.InstantMessenger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.InstantMessenger-header {
  background-color: rgb(10, 187, 187);
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  /* margin: 0 auto; */
  list-style: none;
  padding-left: 0;
  flex-grow: 1;

  /* float: right; */
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember>.Message-content {
  align-items: flex-end;
}

.Messages-message>.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content>.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content>.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(41, 79, 150);
  color: white;
  display: inline-block;
}

.currentMember>.Message-content .text {
  background-color: rgb(10, 187, 187);
}

.InstantMessenger-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

h1 {
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(10, 119, 187);
  font-weight: bolder;
}

.Users-list {
  background-color: white;
  border: 5px solid rgb(41, 79, 150);
  border-radius: 10px;
  /* margin: 1rem; */
  margin-top: 1rem;
  margin-left: 25%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  /* bottom: 5;
  top: 5; */
  width: 20%;
  overflow: scroll;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  overflow: scroll;
  /* z-index: 999; */
  /* position: fixed; */
}

.messageParent {
  float: left;
  background-color: white;
  border: 5px solid rgb(41, 79, 150);
  border-radius: 10px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 25%;
  position: fixed;
  bottom: 5rem;
  left: 0rem;
  right: 0rem;
  top: 5rem;
  width: 30%;
  overflow: scroll;
  padding: 1rem;
  z-index: 999;
}

.chatForm {
  position: fixed;
  bottom: 0;
  right: 0;
  background:rgb(41, 79, 150, .40);
  width: 24.5%;
  margin-bottom: 23px;
  margin-right: 20px;
  float: right;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgb(10, 187, 187);
  flex-grow: 1;
  width: 80%
  /* float: right; */
}

button {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  background-color: rgb(10, 187, 187);
  color: white;
  border: 2px white solid;
  border-radius: 8px;
  margin-left: 10px;
}

.UserList-user {
  border: 1px black solid;
  border-radius: 10px;
  padding: .5rem;
  background-color: #5ec0ca;
  font-weight: bold;
  color: white;
  margin: .5rem;
}
