.wd_18 {
  background-color: white;
  flex: 0 0 33.33%;
  max-width: 33.33%; 
}

.projects_item .hover {
  background: #ffeec9;
  font-size: 20px;
  opacity: .8;
}

.projects_item .hover p {
  color: #ce8f5a;
  text-shadow: 4px 4px 8px white;
}

.banner_area .banner_inner .banner_content h2 {
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0px;
  margin-top: 20px;
  text-shadow: 4px 4px 8px black;
}

.projects_item img{
  background-color: white;
}

.feature_item {
  box-shadow: 12px 12px 29px #555;
}

img {
  border-radius: 0px !important;
  border: none !important;
}